<div class="footer">
    <span id="tripquest"></span>
    <span id="footer-right">
       
    </span>
    <span id="location">
        <img  width="26" height="28">
        <h4></h4>
    </span>
    <span id="copyright">
       
    </span>
    <span id="call">
        <img  width="19" height="19">
        <h4>1234-365-978</h4>
    </span>

    <div class="socialMedia">
        <span >
         <a href="https://www.facebook.com/"><img  width="26" height="26" id="sm1"></a>
         <a href="https://x.com/?lang=en"><img  width="26" height="26" id="sm2"></a>
         <a href="https://in.linkedin.com/"><img  width="26" height="26" id="sm3"></a>
         <a href="https://www.instagram.com/"><img  width="26" height="26" id="sm4"></a>
         <a href="https://www.youtube.com/"><img  width="26" height="26" id="sm5"></a>
        </span>
    </div>

    <div id="q1"></div>
    <div id="q2">Put yourself in the know and receive the most exclusive offers before anyone else</div>

    <form class="info">
        <span id="name" ><span><img  width="24" height="24"></span><input type="text" class="in" ></span>
        <span id="email" ><span><img width="24" height="24"></span><input type="email" class="in" ></span>
        <span id="submit" ><button type="submit" id="submitbut" onclick="onSubscribe()"></button></span>
    </form>
</div> 