<span class="navitem logotext"> 
    <!-- <span id="logo"><img src="logo.png" width="78" height="88"></span> -->
    <h1 id="tripquest">TripQuest</h1>
</span>
<a href="/" class="home"  style="text-decoration: none;">
    <span class="navitem below ">
        <img src="/assests/home-icon.png" width="31" height="30" class="nav-icons">
        <span class="icon-text">Home</span>
    </span>
</a>