<div id="navdiv">
    <nav>
        <span class="navitem logotext">
            <span id="logo"></span>
            <h1 id="tripquest"></h1>
        </span>

        <!-- Notify Me -->
        <span class="navitem above notify">
            <!-- <img  width="22" height="22" class="nav-icons"> -->
            <span class="icon-text-above text"></span>
        </span>

        <!-- Contact Us -->
        <span class="navitem above contact">
            <!-- <img src="contact.png" width="27" height="27" class="nav-icons"> -->
            <span class="icon-text-above text"></span>
        </span>

        <hr>

        <!-- Home -->
        <a href="/" class="home"  style="text-decoration: none;">
        <span class="navitem below homeSpan">
            <!-- <img src="home-icon.png" width="31" height="30" class="nav-icons"> -->
            <span class="icon-text text"></span>
        </span>
        </a>

        <!-- My Adventures -->
        <a  style="text-decoration: none;" class="adv">
        <span class="navitem below advSpan">
            <!-- <img src="adventure.png" width="27" height="27" class="nav-icons"> -->
            <span class="icon-text adText" ></span>
        </span>
        </a>

        <!-- Testimonials -->
        <span class="navitem below testi">
            <!-- <img id="img1"src="testimonials.png" width="30" height="30" class="nav-icons"> -->
            <span class="icon-text"></span>
            <!-- <img src="testimonialsDown.png" width="23" height="23" class="nav-icons" id="img2"> -->
        </span>

        <!-- Join Group -->
        <span class="navitem below join">
            <!-- <img src="join.png" width="30" height="30" class="nav-icons"> -->
            <span class="icon-text text"></span>
        </span>

        <!-- About Us -->
         <a  style="text-decoration: none;" class="about">
        <span class="navitem below aboutspan">
            <!-- <img src="about.png" width="30" height="30" class="nav-icons"> -->
            <span class="icon-text text"></span>
        </span>
        </a>

        <!-- Sign Up -->
        <span class="navitem below sign">
            
            <a href="/CreateAccountfinal" style="text-decoration: none;"><button id="signUp" >
                <!-- <img src="signup.png" width="20" height="20"> -->

                <span id="text"></span>
            </button>
            </a>
        </span>

        <!-- Create Group -->
        <span class="navitem below create">
            <a href="/create" style="text-decoration: none;">
            <button id="creategroup">
                <!-- <img src="creategroup.png" width="27" height="26"> -->
                <span id="text"></span>
            </button></a>
        </span>
    </nav>
</div>