<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Management</title>
  <link rel="stylesheet" href="/css/avail_grp.css"> 
</head>
<body>
  <%-include('partials/header2') %>
    <span id="bar">
        <!-- <h5 id="name"> TripQuest </h5> -->
        <h5 id="explore"></h5>
    </span>
    <div id="img">
        <span id="img2">
            <img src="/assests/Group 271.png">
        </span>
        <img src="/assests/figma.2.jpg" id="image">
    </div>

    
  <!-- Navigation Tabs -->
  <div class="tabs" style="display: flex; flex-direction: column; gap:30px; position: relative; top:-150px;">
    <button class="tab-button active" id="available-groups-tab" style="height: 50px; font-size: 25px; font-family: kameron; font-weight: 600;"> Available Groups </button>
    
  

  <div class="grps">

  </div>
</div>


</body>
<script src="/js/avail_grp.js"></script>
</html>
