<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- <link rel="stylesheet" href="contact.css"> -->
    <script src="/js/contact.js" defer></script>
    <style>
        @font-face {
        font-family: MaShanZheng;
        src: url('MaShanZheng.ttf');
    }
@font-face {
    font-family: katibeh;
    src: url('katibeh.ttf');
}
@font-face {
    font-family: kameron;
    src: url('kameron.ttf');
} 
.title{
    font-family: MaShanZheng;
}
button{
    font-family: kameron;
}
    </style>
</head>
<body>
   <nav id="navItems"></nav>
   <div class="title"></div>
   <div class="snips"></div>
   <div class="inputDiv"></div>
   <div class="imgLook"></div>
</body>
</html>