<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- <link rel="stylesheet" href="contact.css"> -->
    <script src="contact.js" defer></script>
</head>
<body>
   <nav id="navItems"></nav>
   <div class="title"></div>
   <div class="snips"></div>
   <div class="inputDiv"></div>
   <div class="imgLook"></div>
</body>
</html>