<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripQuest</title>
    <link rel="stylesheet" href="home.css">
    <link rel="icon" href="/beforeloginHome/logo.png" type="image/x-icon" sizes="30x31">

    <script src="home.js" defer></script>
</head>

<body>
    <div id="navdiv">
        <nav>
            <span class="navitem logotext">
                <span id="logo"></span>
                <h1 id="tripquest"></h1>
            </span>

            <!-- Notify Me -->
            <span class="navitem above notify">
                <!-- <img  width="22" height="22" class="nav-icons"> -->
                <span class="icon-text-above text"></span>
            </span>

            <!-- Contact Us -->
            <span class="navitem above contact">
                <!-- <img src="contact.png" width="27" height="27" class="nav-icons"> -->
                <span class="icon-text-above text"></span>
            </span>

            <hr>

            <!-- Home -->
            <a href="/beforeloginHome/home.html" class="home"  style="text-decoration: none;">
            <span class="navitem below homeSpan">
                <!-- <img src="home-icon.png" width="31" height="30" class="nav-icons"> -->
                <span class="icon-text text"></span>
            </span>
            </a>

            <!-- My Adventures -->
            <a  style="text-decoration: none;" class="adv">
            <span class="navitem below advSpan">
                <!-- <img src="adventure.png" width="27" height="27" class="nav-icons"> -->
                <span class="icon-text adText" ></span>
            </span>
            </a>

            <!-- Testimonials -->
            <span class="navitem below testi">
                <!-- <img id="img1"src="testimonials.png" width="30" height="30" class="nav-icons"> -->
                <span class="icon-text"></span>
                <!-- <img src="testimonialsDown.png" width="23" height="23" class="nav-icons" id="img2"> -->
            </span>

            <!-- Join Group -->
            <span class="navitem below join">
                <!-- <img src="join.png" width="30" height="30" class="nav-icons"> -->
                <span class="icon-text text"></span>
            </span>

            <!-- About Us -->
             <a  style="text-decoration: none;" class="about">
            <span class="navitem below aboutspan">
                <!-- <img src="about.png" width="30" height="30" class="nav-icons"> -->
                <span class="icon-text text"></span>
            </span>
            </a>

            <!-- Sign Up -->
            <span class="navitem below sign">
                
                <a href="/vanshikawork/CreateAccountfinal.html" style="text-decoration: none;"><button id="signUp" >
                    <!-- <img src="signup.png" width="20" height="20"> -->

                    <span id="text"></span>
                </button>
                </a>
            </span>

            <!-- Create Group -->
            <span class="navitem below create">
                <a  style="text-decoration: none;">
                <button id="creategroup">
                    <!-- <img src="creategroup.png" width="27" height="26"> -->
                    <span id="text"></span>
                </button></a>
            </span>
        </nav>
    </div>
    
    <div id="carosuel">
        
        <!-- <ul>
        <li class="slide"><img src="jaipur.png" width="1693" height="642"></li>
        <li class="slide"><img src="pondicherry.png" width="1693" height="642"></li>
        <li class="slide"><img src="gonavali.png" width="1693" height="642"></li>
        <li class="slide"><img src="manali.png" width="1693" height="642"></li>
        <li class="slide"><img src="ladakh.png" width="1693" height="642"></li>
        <li class="slide"><img src="meghalaya.png" width="1693" height="642"></li>
        </ul> -->
        

        
    </div>


    <div class="month-timeline">
         
        <span id="monthName" >
             <span id="monthTitle"></span>
        </span>
        <div id="batch1">
       
        </div>


        
        
        
            
        
       

    </div>

     <div class="explore-more" >
        
        
        <button id="exploreButton" style="z-index: 1;">
            
            
            <div id="arrowIcon">
                <!-- <img src="exploreArrow.png" alt="arrow icon" /> -->
            
            </div>

        </button>
    </div> 
     <div class="aboutUs">
        <!-- <img src="aboutUs.png" width="1520" height="642"> -->
    </div>

     <div class="testimonials">
        <h3 id="testTitle"></h3>
        <img src="line.png" id="line"width="121.12">
        <marquee behavior="scroll" direction="left" scrollamount="5" loop="infinite">
        <div id="people">
            
        </div></marquee>
    </div>
    
     <div class="footer">
        <span id="tripquest"></span>
        <span id="footer-right">
           
        </span>
        <span id="location">
            <img  width="26" height="28">
            <h4></h4>
        </span>
        <span id="copyright">
           
        </span>
        <span id="call">
            <img  width="19" height="19">
            <h4>1234-365-978</h4>
        </span>

        <div class="socialMedia">
            <span >
             <a href="https://www.facebook.com/"><img  width="26" height="26" id="sm1"></a>
             <a href="https://x.com/?lang=en"><img  width="26" height="26" id="sm2"></a>
             <a href="https://in.linkedin.com/"><img  width="26" height="26" id="sm3"></a>
             <a href="https://www.instagram.com/"><img  width="26" height="26" id="sm4"></a>
             <a href="https://www.youtube.com/"><img  width="26" height="26" id="sm5"></a>
            </span>
        </div>

        <div id="q1"></div>
        <div id="q2">Put yourself in the know and receive the most exclusive offers before anyone else</div>

        <form class="info">
            <span id="name" ><span><img  width="24" height="24"></span><input type="text" class="in" ></span>
            <span id="email" ><span><img width="24" height="24"></span><input type="email" class="in" ></span>
            <span id="submit" ><button type="submit" id="submitbut" onclick="onSubscribe()"></button></span>
        </form>
    </div> 


</body>

</html>
